#footer-lower {
  /*width: 1080px;*/
  margin: 0px auto 0 auto;
  background: #c1c1c1;
}
#footer-lower div {
  margin: 5px auto 0 auto;
  width: 280px;
}
#footer-lower img {
  width: 280px;
  opacity: 0.8;
}
#footer-lower img:hover {
  opacity: 0.6;
}
#footer-lower h4 {
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  color: #333;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.5px;
}
