#header-wrap {
  padding: 10px 0;
  text-align: center;
  overflow: hidden;
  /*border-bottom: 1px solid #b1b1b1;*/
  /*border-top: 5px solid #122a88;*/
  /* width: 1080px; */
}

#logo-area {
  width: 1080px;
  margin: 0 auto;
  /* float: left; */
  overflow: hidden;
}

#logo-area a {
  background-image: url(/images/header/main-logo.png);
  background-repeat: no-repeat;
  background-size: 90px;
  width: 90px;
  height: 90px;
  display: block;
  margin: 0 auto;
  transition: 0.2s;
}
#logo-area a:hover {
  background-image: url('/images/header/main-logo-2.png');
}

#globalnav {
  list-style: none;
  padding: 0;
  margin: 0 auto;
  border-top: 1px solid #b1b1b1;
  border-bottom: 1px solid #b1b1b1;
  background: #e9ebee;
}
.fixed {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}
#globalnav-list {
  list-style: none;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  width: 1080px;
}
#globalnav-list li {
  float: left;
  width: calc(1080px/4);
  text-align: center;
  /*background-color: #172a88;*/
  transition: 0.5s;
}
#globalnav-list li:hover {
  background-color: #177288;
}
#globalnav-list li a {
  text-decoration: none;
  transition: 0.4s;
  color: #333;
  font-weight: bold;
  display: block;
  line-height: 40px;
}
#globalnav-list li a:hover {
  color: white;
}
#globalnav-list li dl {
  margin: 0;
}
/*#header-wrap {
  line-height: 90px;
  height: 90px;
  margin: 0 auto;
  padding: 10px 0;
  background: linear-gradient(to bottom, #023258 0%,#0c51d0 50%, #023258 100%);
  overflow: hidden;
}
.width-set {
  width: 1040px;
  margin: 0 auto;
  overflow: hidden;
}
#header-logo {
  width: 370px;
  height: 72px;
  margin: auto 0;
  padding-top: 8px;
  float: left;
}
#header-logo img {
  width: 370px;

}
#globalnav-list {
  float: right;
  width: 410px;
  list-style: none;
  padding: 0;
  margin: 0;
  padding-top: 31px;
}
#globalnav-list li {
  float: left;
  margin-right: 40px;
  border-bottom: 1px solid #c1c1c1;
}
#globalnav-list li:last-child {
  margin-right: 0;
}
#globalnav-list li:hover {
  border-bottom: 1px solid white;
}
#globalnav-list a {
  font-family: Helvetica, "Meiryo UI", "ヒラギノ角ゴPro", sans-serif;
  display: block;
  text-align: center;
  color: #c1c1c1;
  text-decoration: none;
  transition: 0.3s;
}
#globalnav-list a:hover {
  color: white;
}
#globalnav-list dl {
  height: 20px;
  line-height: 20px;
  font-size: 15px;
  margin: 0;
}
#globalnav-list dt {
  height: 16px;
  line-height: 16px;
  font-size: 12px;
  padding-bottom: 2px;
  margin: 0;
}*/
