body {
  margin: auto;
  min-width: 1080px;
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
#carousel {
  min-width: 1080px;
  margin: 0 auto 30px;
  overflow: hidden;
  background: linear-gradient(to bottom, #69d8fb 0%, #00588c 100%);
}
#carousel-main {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#carousel-main img {
  width: 1024px;
  height: 400px;
}
#carousel-main .slick-dots {
  bottom: 10px;
}
#carousel-main .slick-dots li button:before {
  font-size: 12px;
  color: white;
}
