body {
  margin: auto;
  min-width: 1080px;
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
#carousel {
  min-width: 1080px;
  margin: 0 auto 30px;
  overflow: hidden;
  background: linear-gradient(to bottom, #69d8fb 0%, #00588c 100%);
}
#carousel-main {
  width: 1024px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
}
#carousel-main img {
  width: 1024px;
  height: 400px;
}
#carousel-main .slick-dots {
  bottom: 10px;
}
#carousel-main .slick-dots li button:before {
  font-size: 12px;
  color: white;
}
.container {
  margin: 30px auto;
  overflow: hidden;
}
.title {
  min-width: 1080px;
  border-bottom: 1px solid #b1b1b1;
}
.title h2 {
  margin: 0 auto;
  height: 40px;
  line-height: 40px;
  font-size: 23px;
  width: 1024px;
}
.container-list {
  margin: 30px auto 0;
  width: 1024px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.container-list li {
  width: 230px;
  height: 170px;
  margin-right: calc(103px/3);
  margin-bottom: 20px;
  float: left;
  position: relative;
}
.container-list li:nth-child(4n) {
  margin-right: 0;
}
.new img {
  position: absolute;
  width: 60px;
  top: 0;
  right: 0;
}
.category {
  position: absolute;
  top: 0;
  left: 0;
  color: white;
  width: 120px;
  padding: 3px 0;
  text-align: center;
  font-size: 12px;
}
.category-training {
  background: #ff6b00;
}
.category-top {
  background: #ea1717;
}
.category-match {
  background: #023df0;
}
.category-events {
  background: #148800;
}
.text-bg {
  height: 60px;
  background: black;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  opacity: 0.8;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.text-area {
  height: 60px;
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 12px;
  margin: 0 10px;
  color: #eee;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.date {
  font-size: 11px;
  padding-top: 4px;
}
.container-list a:hover .text-bg {
  height: 100%;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.container-list a:hover .text-area {
  height: 150px;
  -webkit-transition: all 0.6s ease;
  transition: all 0.6s ease;
}
.view-all {
  width: 113px;
  text-align: center;
  margin: 0 auto;
  background-image: url(/images/icon/arrow-right.png);
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
}
.view-all a {
  display: table-cell;
  font-size: 14px;
  color: black;
  font-weight: bold;
  padding-left: 22px;
  height: 30px;
  vertical-align: middle;
}
.view-all:hover {
  opacity: 0.8;
}
