.sub-title {
  height: 70px;
  line-height: 70px;
  background: #d3d000;
  border-bottom: 2px solid #5d5d5d;
}
.sub-title h2 {
  margin: 0px;
  padding-left: 20px;
  color: #f9f9f9;
  font-size: 20px;
  font-weight: bold;
}
.local-nav {
  list-style: none;
  padding-left: 0;
  margin: 0 auto;
}
.local-nav li > a {
  height: 40px;
  line-height: 40px;
  background: #f1f1f1;
  border-bottom: 1px solid #ccc;
  padding-left: 20px;
  text-decoration: none;
  color: #333333;
  display: block;
  font-size: 14px;
}
.local-nav li > a:hover {
  background: #707070;
  color: white;
}
.local-nav .active {
  background: #707070;
  color: white;
}
