<link rel="stylesheet" href="/css/header.css" type="text/css">
<div id="header-upper">
  <h1><a href="/"><img src="/images/header/logo.png" alt="Team Kepler"></a></h1>
  <!-- <h1>Team Kepler</h1> -->
  <ul class="header-sns-list">
    <li><a target="_blank" href="https://www.facebook.com/teamkepler/"><img src="/images/header/facebook.png" alt=""></a></li>
    <li><a target="_blank" href="https://www.youtube.com/channel/UClI0tC_igewS-2u16T58dSQ"><img src="/images/header/youtube.png" alt=""></a></li>
    <li><a target="_blank" href="https://www.instagram.com/team_kepler/"><img src="/images/header/instagram.png" alt=""></a></li>
    <li><a target="_blank" href="https://twitter.com/team_kepler"><img src="/images/header/twitter.png" alt=""></a></li>
    <li><a target="_blank" href="http://blog.livedoor.jp/teamkepler/"><img src="/images/header/livedoor.png" alt=""></a></li>
    <li><a target="_blank" href="https://line.me/R/ti/p/%40gla9158f"><img src="/images/header/line.png" alt=""></a></li>
  </ul>
</div>
<div id="header-lower">
  <ul class="globalnav-list">
    <li><a href="/"><dl>ホーム</dl><dt>HOME</dt></a></li>
    <li><a href="/"><dl>概要</dl><dt>ABOUT</dt></a></li>
    <li><a href="/"><dl>ニュース</dl><dt>NEWS</dt></a></li>
    <li><a href="/"><dl>大会</dl><dt>TOUNAMENT</dt></a></li>
    <li><a href="/"><dl>イベント</dl><dt>EVENT</dt></a></li>
    <li><a href="/"><dl>動画</dl><dt>MOVIE</dt></a></li>
    <li><a href="/"><dl>SNS</dl><dt>SNS</dt></a></li>
    <li id="contact"><a href="/contact/"><dl>お問い合わせ</dl><dt>CONTACT</dt></a></li>
  </ul>
</div>
