<link rel="stylesheet" href="/css/header.css" type="text/css">
<div id="header-wrap">
  <div id="logo-area">
    <a href="/"><img src="/images/header/logo-character.png" alt="" ></a>
  </div>
</div>
<div id="globalnav">
  <ul id="globalnav-list">
    <li><a href="/">HOME</a></li>
    <li><a href="/news/">NEWS</a></li>
    <li><a href="/shop/">SHOP</a></li>
    <li><a href="/contact/">CONTACT</a></li>
  </ul>
</div>
<script type="text/javascript">
$(function() {
	var nav = $('#globalnav'),
  offset = nav.offset();
	$(window).scroll(function () {
	  if($(window).scrollTop() > offset.top) {
	    nav.addClass('fixed');
	  } else {
	    nav.removeClass('fixed');
	  }
	});
});
</script>


<!-- <ul class="header-sns-list">
  <li><a target="_blank" href="https://www.facebook.com/teamkepler/"><img src="/images/header/facebook.png" alt=""></a></li>
  <li><a target="_blank" href="https://www.youtube.com/channel/UClI0tC_igewS-2u16T58dSQ"><img src="/images/header/youtube.png" alt=""></a></li>
  <li><a target="_blank" href="https://www.instagram.com/team_kepler/"><img src="/images/header/instagram.png" alt=""></a></li>
  <li><a target="_blank" href="https://twitter.com/team_kepler"><img src="/images/header/twitter.png" alt=""></a></li>
  <li><a target="_blank" href="http://blog.livedoor.jp/teamkepler/"><img src="/images/header/livedoor.png" alt=""></a></li>
  <li><a target="_blank" href="https://line.me/R/ti/p/%40gla9158f"><img src="/images/header/line.png" alt=""></a></li>
</ul> -->
