<link rel="stylesheet" href="/css/sub-news.css" type="text/css">
<div class="sub-title">
  <h2>最新ニュースまとめ</h2>
</div>
<ul class="news-list">
  <li><a href="/news/match/20170315/"><p>2017.03.15</p>第1回ケプラー選手権支部大会 3月20日から厚木支部で開催予定</a></li>
  <li><a href="/news/events/20170128/"><p>2017.01.28</p>ナイター試乗会 本部で開催</a></li>
  <li><a href="/news/top/20170123/"><p>2017.01.23</p>特別幹部会議 本部で開催</a></li>
  <li><a href="/news/events/20161224/"><p>2016.12.24</p>Xmas走行会2016 厚木支部で開催</a></li>
  <li><a href="/news/training/20161209/"><p>2016.12.09</p>Ninebot One S2での総走行距離300km達成</a></li>
  <li><a href="/news/top/20161125/"><p>2016.11.25</p>Team Keplerつくば支部、INMOTION SCV V8を導入</a></li>
  <li><a><p>2016.11.25</p>ビギナーステップアップ講習会、本部で開催</a></li>
  <li><a href="/news/top/20161114/"><p>2016.11.14</p>Team Kepler安全対策本部、新規導入されたNinebot miniの総合点検を実施</a></li>
  <!-- <li><a href=""><p>2016.11.13</p>Team Kepler本部、プロフェッショナルナイタートレーニングを実施</a></li>
  <li><a href=""><p>2016.11.05</p>Team Kepler本部、初心者講習会を実施</a></li>
  <li><a href=""><p>2016.11.02</p>Ninebot One S2に続き、Ninebot miniの導入を開始</a></li>
  <li><a href=""><p>2016.10.27</p>ケプラーセミナー終了後、Team Kepler・山口太朗代表にインタビュー</a></li> -->
</ul>
<!-- <a href="">ニュース一覧を見る</a> -->
