body {
  margin: auto;
  min-width: 1080px;
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
#main-title {
  margin: 0;
  background: linear-gradient(to bottom, #eaeaea 0%, #f0f0f0 100%);
  min-width: 1080px;
  padding: 0;
}
#main-title h2 {
  margin: 0 auto;
  padding: 20px 0 20px 50px;
  height: 40px;
  line-height: 40px;
  width: 1024px;
  font-size: 28px;
  font-weight: bold;
}
#main {
  margin: 0 auto;
  overflow: hidden;
}
.main-container {
  margin: 30px 0;
}
.container-list {
  margin: 0 auto;
  width: 1024px;
  padding: 0;
  list-style: none;
  overflow: hidden;
}
.container-list li {
  width: 250px;
  padding: 20px;
  border: 1px solid #9e9e9e;
  border-radius: 15px;
}
.container-list-1 {
  float: left;
  margin-left: 150px;
}
.container-list-2 {
  float: right;
  margin-right: 150px;
}
.container-list h2 {
  margin: 0;
  text-align: center;
}
.container-list img {
  width: 100px;
  height: 100px;
  padding-left: 75px;
  margin: 10px 0;
}
.container-list p {
  margin: 0 0 20px;
  height: 110px;
}
.button {
  text-align: center;
}
.button a {
  background: #0478cd;
  border-radius: 5px;
  font-size: 19px;
  color: white;
  font-weight: bold;
  text-decoration: none;
  height: 40px;
  line-height: 40px;
  padding: 5px 15px;
}
.button a:hover {
  opacity: 0.8;
}
