body {
  margin: auto;
  min-width: 1080px;
  color: #333;
  font-family: Helvetica, "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
.globalnav-list #contact a {
  color: #ffffff;
  border-bottom: 2px solid #e8be13;
}
.content {
  width: 1040px;
  margin: 0 auto;
}
.content h2 {
  font-size: 20px;
  font-weight: 100;
  letter-spacing: 1.4px;
  margin-top: 50px;
  margin-bottom: 10px;
  padding-left: 35px;
  height: 25px;
  line-height: 25px;
  background-image: url(/images/icon/circle.png);
  background-size: 25px;
  background-repeat: no-repeat;
  border-bottom: 1px solid #c1c1c1;
  padding-bottom: 5px;
  width: 250px;
}

.content-1 {
  width: 800px;
  margin: 60px auto;
}
