body {
  margin: auto;
  min-width: 1080px;
  color: #333333;
  font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
  font-size: 14px;
  -webkit-text-size-adjust: 100%;
}
#main-title {
  margin: 0;
  background: linear-gradient(to bottom, #eaeaea 0%, #f0f0f0 100%);
  min-width: 1080px;
  padding: 0;
}
#main-title h2 {
  margin: 0 auto;
  padding: 20px 0 20px 50px;
  height: 40px;
  line-height: 40px;
  width: 1024px;
  font-size: 28px;
  font-weight: bold;
}
#main {
  margin: 0 auto;
  overflow: hidden;
}
#container-wrap {
  width: 1024px;
  margin: auto;
  overflow: hidden;
}
#sub-container {
  width: 25%;
  float: right;
  margin: 30px 0 0 50px;
}
.local-nav .nav-training > a{
  background: #707070;
  color: white;
}
#main-container {
  float: left;
  width: 70%;
  margin-top: 30px;
}
.date {
  font-size: 15px;
  padding-left: 18px;
  background-image: url(/images/icon/clock.png);
  background-repeat: no-repeat;
  background-size: 15px;
  background-position: 0 3px;
}
.news-title {
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0.1px;
}
.container {
  margin: 20px 0 20px 0;
  overflow: hidden;
}
.container-1 {
  margin: 0;
}
.container-2 {
  margin-bottom: 0;
  margin-top: 10px;
}
.container-2 .photo {
  height: 400px;
  width: 100%;
  text-align: center;
}
.container-2 .text{
  padding: 10px 0;
  font-size: 14px;
  letter-spacing: 1px;
  line-height: 25px;
}
.container-2 .photo-2 {
  float: left;
  width: 250px;
  height: 185px;
  padding-top: 5px;
}
.container-2 .photo-text {
  float: left;
  width: calc(100% - 270px);
  padding: 0 10px;
}
.container-3 h2 {
  font-size: 20px;
  border-bottom: 1px solid #b6b6b6;
  margin: 0 0 5px;
  padding-left: 20px;
  background-image: url(/images/icon/comment.png);
  background-repeat: no-repeat;
  background-size: 18px;
  background-position: 0 5px;
}
.container-3 p {
  margin: 0;
  line-height: 26px;
  letter-spacing: 0.1px;
}
.container-3 p strong {
  font-size: 15px;
}
